<div *ngIf="!model">Loading...</div>
<form *ngIf="model" id="syncSpeedSelectionForm">
  <div class="form-group mt-2 row">
    <h5>Sync Speed Selection</h5>
  </div>
  <div class="row flex-row mt-2 justify-content-end">
    <div
      *ngIf="helpStateService.isShowHelp()"
      class="help-block alert alert-info"
      i18n="syncSpeedSelectionHelp"
      id="syncspeedselectionhelp"
      role="alert"
    >
      You can switch here between the bandwidth restriction for day and night,
      you have made in the setup area. If you select No-Sync then there will be
      no reception or transmission of data.
    </div>
    <div class="col col-auto mt-2">
      <input
        type="radio"
        class="btn-check"
        name="options"
        id="day"
        (click)="formFinished.emit(model)"
        autocomplete="off"
        [(ngModel)]="model.mode"
        [value]="trafficShapeSwitchValues.DAY"
        (ngModelChange)="onSubmit()"
      />
      <label class="btn btn-outline-primary" for="day"
        ><i class="bi bi-cloud-sun"></i>&nbsp;<span i18n>Day</span></label
      >
    </div>
    <div class="col col-auto mt-2">
      <input
        type="radio"
        class="btn-check"
        name="options"
        id="night"
        (click)="formFinished.emit(model)"
        [(ngModel)]="model.mode"
        [value]="trafficShapeSwitchValues.NIGHT"
        autocomplete="off"
        (ngModelChange)="onSubmit()"
      />
      <label class="btn btn-outline-primary" for="night"
        ><i class="bi bi-cloud-moon"></i>&nbsp;<span i18n>Night</span></label
      >
    </div>
    <div class="col col-auto mt-2">
      <input
        type="radio"
        class="btn-check"
        name="options"
        id="no_sync"
        (click)="formFinished.emit(model)"
        [(ngModel)]="model.mode"
        [value]="trafficShapeSwitchValues.OFF"
        autocomplete="off"
        (ngModelChange)="onSubmit()"
      />
      <label class="btn btn-outline-primary" for="no_sync"
        ><i class="bi bi-cloud-slash"></i>&nbsp;<span i18n>No sync</span></label
      >
    </div>
  </div>
</form>
