<div #wrapper class="d-flex">
  <div id="page-content-wrapper">
    <app-statusbar></app-statusbar>
    <div class="container-fluid main-frame">
      <div class="row flex-row">
        <h1 i18n="diskErrorHeader">Disk Error</h1>
        <span i18n>
          There is a disk error on your system.<br />
          At this point, the system cannot give you more help on the user interface,
          you should get help from an experienced Linux admin, who can look into the system.
          As this box should be the buddy of another syncosync box, the probability that you lost data is rather low. <br />
          You could also visit the syncosync <a src="https://forum.syncosync.org">forum</a> to get more help.
        </span>
        <br />
          <div class="row">
    <app-reboot-form></app-reboot-form>
  </div>
      </div>
    </div>
  </div>
</div>
