<div #wrapper class="d-flex">
  <div id="page-content-wrapper">
    <app-statusbar></app-statusbar>
    <div class="container-fluid main-frame">
      <app-drivesetup
        (formFinished)="handleDrivesetupResult($event)"
      ></app-drivesetup>
    </div>
  </div>
</div>
