<h3 i18n>Accounts &nbsp;
    <div class="btn-group">
        <button (click)="addAccount()" class="btn btn-success btn-outline-secondary" i18n-ngbTooltip
                id="addAccount" ngbTooltip="Add Account">
            <i class="bi-plus" style="color:black"></i>
        </button>
    </div>
</h3>
<div class="list-group">
    <app-accountdetail-drop *ngFor="let account of accountService.getLatestAccounts().getAccounts()" [account]="account"
                            [latestStatus]="latestStatus"></app-accountdetail-drop>
</div>

