<h4 i18n>Partitioning</h4>
<div class="row">
  <div class="col mx-4">
    <div class="custom-slider">
      <app-partitioning-slider [disableSlider]="true" [initialSetup]="false"></app-partitioning-slider>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    Resizing the volumes in a paired syncosync setup is a delicate procedure. As
    the information, how much space is already occupied on both sides has to be
    stable and known, there must not be an active sync process. If this is the
    case, proceed to the next steps. If not, wait until sync is inactive.
  </div>
</div>
