<div class="modal-header">
  <h4 class="modal-title" i18n>Traffic Shaping</h4>
  <div>
    <app-toggle-help-button></app-toggle-help-button>
    <button
      class="btn"
      type="button"
      (click)="activeModal.dismiss('Cross click')"
    >
      <i class="bi-x" ngbTooltip="Close" i18n-ngbTooltip></i>
    </button>
  </div>
</div>
<div class="modal-body">
  <app-trafficshaping-form
    (formFinished)="activeModal.dismiss()"
  ></app-trafficshaping-form>
</div>
