<div class="modal-header" id="eraseDataAccountModal">
    <h4 class="modal-title">Erase data from {{account.name}}</h4>
    <button (click)="activeModal.dismiss('Cross click')" class='btn' type="button">
        <i class="bi-x" i18n-ngbTooltip ngbTooltip="Close"></i>
    </button>
</div>
<div class="modal-body">
    <p i18n>Do you really want to erase all data stored in the account {{account.name}} ({{account.rlongname}})?</p>
    <p i18n>The account won't be deleted nor all metadata, but all data in the account's directory will get lost - here and on the buddy system.</p> 
</div>
<div class="modal-footer">
    <button (click)="activeModal.close('Close click')" class="btn btn-secondary btn-block" i18n="cancel" id="eraseDataCancel"
            type="button">
        Cancel
    </button>
    <button (click)="eraseDataAccount()" class="btn btn-block btn-danger" i18n id="delConfirm" type="button">Erase Data
    </button>
</div>
