<h4 i18n>Partitioning Done</h4>
<div class="row">
  <div class="col mx-4">
    <p>You have successfully resized your local system's partitions!</p>
    <p>
      If your syncosync partner's box was not partitioned for any reason, simply re-run this assistant
    </p>
  </div>
</div>
