<div class="col col-auto">
  <div class="row">
    <div class="col">
      <h4 i18n>System Setup Data Synchronization</h4>
      <p i18n>
        After you have adjusted the partitions on your side, you should send
        this partitioning data to your syncosync partner. He has to accept this
        partitioning and then you are ready to go with secure syncing as both
        syncosync volumes are setup perfectly equal.
      </p>
    </div>
  </div>

<div class="row justify-content-end">
  <div class="col col-auto">
      <app-sync-ssd-lead
    #leadComponent
    (formFinished)="configurationFinished.emit($event)"
  ></app-sync-ssd-lead>
  </div>
  <div class="col col-auto">
<app-sync-ssd-follow
    #followComponent
    (formFinished)="configurationFinished.emit($event)"
  ></app-sync-ssd-follow>
  </div>
</div>
</div>
