<form (ngSubmit)="onSubmit()" id="generateSyncKeyForm" novalidate>
  <div class="row">
    <div class="col">
      <h4 i18n>Disaster Swap Persistence</h4>
    </div>
  </div>
  <div class="row">
    <div class="col" i18n>
      As the system is in Disaster Swap mode, you can choose to make these
      settings persistent. That means, this box behaves afterwards like your
      original box. The data and the configuration of your syncosync partner
      wont get lost.
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info disasterswappersistencehelp"
        i18n="disasterSwapPersistenceHelp"
        id="disasterswappersistencehelp"
        role="alert"
      >
        After the Disaster Swap has been peristant, you can log in with your
        usual password. Your remote partner could even then switch this box in
        Disaster Swap mode again and make it persistent again and so on...
      </div>
    </div>
  </div>
  <div class="row mt-2 justify-content-end">
    <div class="col-auto align-self-end">
      <button
        class="btn btn-danger"
        i18n
        id="disaster_swap_mode_persistance_button"
        type="submit"
      >
        Make Disaster Swap Mode Persistant
      </button>
    </div>
  </div>
</form>
