<div class="row">
  <div class="col">
    <h4 i18n>Adjust Partitions</h4>
    <p i18n>
      Please select a distribution of the available disk space. The left side
      represents storage available to you (local). The remaining amount will be
      the amount of disk space available to your buddy.
    </p>
  </div>
</div>
<div class="row" *ngIf="this.model?.isAssumedToBeResized()">
  <div class="col">
    The limits left and right represent already allocated data.
  </div>
</div>

<form *ngIf="model != null" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col mx-4">
      <app-partitioning-slider
        [disableSlider]="false"
        (valueEmitter)="setValue($event)"
        (modelChanged)="this.setModel($event)"
      ></app-partitioning-slider>
    </div>
  </div>
  <div class="row flex-row mt-3 justify-content-end">
    <div class="col col-auto">
      <button class="btn btn-primary" id="partition-volume-button" type="submit">Partition Volume</button>
    </div>
  </div>
</form>
