<div class="row flex-row">
  <div class="col">
    <h4 i18n>Remote Recovery Final Report</h4>
  </div>
</div>
<div class="row flex-row">
  <div class="col" i18n>
    Remote Recovery has finished. Please read the final report and check if it
    looks acceptable.
  </div>
</div>
<hr />
<div class="row flex-row">
  <div class="col" class="p-3 m-3 bg-light text-dark">
    <div *ngFor="let line of model?.report">
      {{ line }}
    </div>
  </div>
</div>
<hr />
<div class="row flex-row mx-1 justify-content-end">
  <div class="col col-auto">
    <div class="form-group">
      <button (click)="onSubmit()" class="btn btn-primary">
        Switch to Default Operation
      </button>
    </div>
  </div>
</div>
