<input
  type="file"
  class="file-input"
  id="file-input"
  [accept]="requiredFileType"
  (change)="onFileSelected($event)"
  #fileUpload
/>

<div class="file-upload">
  <div class="row">
    <div class="input-group">
      <div class="col-12 col-sm-6 col-md-8 col-lg-10">
        {{ (fileName | slice: 0:21) || 'No file uploaded yet.' }}
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <button
          class="btn-primary btn-block upload-btn"
          if="file-upload-button"
          (click)="fileUpload.click()"
        >
          <i class="bi bi-cloud-upload" i18n>Select file</i>
        </button>
      </div>
    </div>
  </div>
</div>
