<div *ngIf="this.isLeader !== null">
  <div *ngIf="this.isLeader">
    <app-partitioning-slider-partitioner
      (formFinished)="this.disableLeadPartitionButton = false"
      #slider
    ></app-partitioning-slider-partitioner>
    <app-partitioning-lead
      [disableButtons]="this.disableLeadPartitionButton"
      (formFinished)="this.configurationFinished.emit(null)"
    ></app-partitioning-lead>
  </div>
  <div *ngIf="!this.isLeader">
    <app-partitioning-follow
      (formFinished)="this.configurationFinished.emit(null)"
    ></app-partitioning-follow>
  </div>
</div>
