<nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row flex-row align-items-center">
        <div class="col col-auto">
          <a routerLink="/syncosync/status"
            ><img alt="syncosync" src="assets/images/logo.png"
          /></a>
        </div>
        <div class="col col-auto">
          <app-sync-status-dot [size]="50"></app-sync-status-dot>
        </div>
      </div>
    </div>
    <div class="nav navbar-nav pull-right navbar-right">
      <table>
        <tr>
          <td style="vertical-align: middle">
            <app-language-switch></app-language-switch>
          </td>
          <td style="vertical-align: middle">
            <app-toggle-help-button></app-toggle-help-button>
          </td>
          <td style="vertical-align: middle">
            <app-syncosync-info-modal-button></app-syncosync-info-modal-button>
          </td>
          <td style="vertical-align: middle">
            <button (click)="logout()" class="btn" id="logout-button">
              <i
                class="bi-box-arrow-right"
                i18n-ngbTooltip
                ngbTooltip="Logout"
              ></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</nav>
