<div class="flex">
  <div class="flex-item">
    <div>
      <canvas
        [chartType]="lineChartType"
        [colors]="lineChartColors"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [legend]="lineChartLegend"
        [options]="lineChartOptions"
        [plugins]="lineChartPlugins"
        baseChart
        height="120"
      ></canvas>
    </div>
  </div>
</div>
