<form
  #form="ngForm"
  (ngSubmit)="onSubmit()"
  *ngIf="model != null"
  id="factoryResetForm"
>
  <div class="row">
    <div class="col">
      <h5 i18n>Factory Reset</h5>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-auto">
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info adminpasswordhelp"
        i18n="factoryResetHelp"
        id="factoryresethelp"
        role="alert"
      >
        A factory reset of your syncosync box deletes all your settings and your
        accounts on the internal root partition. You can choose not to erase the
        hard disk, so you can reinitialise any synosync system with the
        configuration from the hard disk (for example even this box after a
        factory reset). If you like, you can keep the network settings for
        easier access to the box after the reset. If you choose to reset, the
        box will reboot.
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-auto align-self-end">
      <label i18n>Disk:</label>&nbsp;
      <label for="noerase" i18n>Do nothing</label>&nbsp;<input
        type="radio"
        name="erasedisk"
        id="noerase"
        [(ngModel)]="model.erase_disk"
        [value]="eraseDiskLevel.NO_ERASE"
      />&nbsp; <label for="quickformat" i18n>Quick format</label>&nbsp;<input
        type="radio"
        name="erasedisk"
        id="quickformat"
        [(ngModel)]="model.erase_disk"
        [value]="eraseDiskLevel.QUICK_ERASE"
      />&nbsp;

      <!--       <label for="eraseDiskLevel" i18n>Erase disk:&nbsp;</label>
      <select
        name="eraseDiskLevel"
        class="form-control form-control-sm"
        id="eraseDiskLevel"
        [(ngModel)]="model.erase_disk"
      >
        <option [ngValue]="eraseDiskLevel.NO_ERASE" i18n>
          Do not erase disk
        </option>
        <option [ngValue]="eraseDiskLevel.QUICK_ERASE" i18n>
          Quick format disk
        </option>
      </select> -->
    </div>
    <div class="col-auto align-self-end">
      <label for="reset_networking_toggle" i18n
        >Reset networking configuration</label
      >&nbsp;
      <input
        [(ngModel)]="model.reset_networking"
        type="checkbox"
        class="form-check-input"
        id="reset_networking_toggle"
        name="reset_networking_toggle"
      />
    </div>
    <div class="col col-auto align-self-end">
      <div>
        <button
          id="startFactoryReset"
          [disabled]="form.invalid"
          class="btn btn-primary float-right"
          type="submit"
          i18n
        >
          Reset
        </button>
      </div>
    </div>
  </div>
</form>
