<form
  #form="ngForm"
  (ngSubmit)="onSubmit()"
  *ngIf="model != null"
  id="modAccountForm"
  novalidate
>
  <div class="form-group row">
    <div class="col-sm-8">
      <label for="longName" i18n>Long Name:</label>
      <div class="input-group mb-3">
        <input
          #longName="ngModel"
          [(ngModel)]="model.rlongname"
          class="form-control"
          id="longName"
          name="longName"
          validateLongName
        />
        <ngb-alert *ngIf="longName.errors" [dismissible]="false" i18n>
          Invalid long name
        </ngb-alert>
      </div>
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        i18n="longNameHelp"
        id="editnameshelp"
        role="alert"
      >
        The Long Name must not contain " and ,
      </div>
    </div>
    <div class="col-sm-4">
      <label for="quota" i18n>Quota:</label>
      <div class="input-group mb-3">
        <input
          [(ngModel)]="model.max_space_allowed"
          class="form-control"
          id="quota"
          max="100"
          min="1"
          name="quota"
          type="number"
        />
        <div class="input-group-append">
          <span class="input-group-text">%</span>
        </div>
      </div>
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        i18n="quotaHelp"
        id="editqoutahelp"
        role="alert"
      >
        The maximount portion of the drive, this account may occupy.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md align-self-end">
        <label for="password" i18n>Password:</label>
        <div class="input-group">
          <input
            autocomplete="new-password"
            #password
            #passwordModel="ngModel"
            [disabled]="model.delete_password"
            [(ngModel)]="model.password"
            type="password"
            class="form-control"
            id="password"
            name="password"
            validateAccountPassword
          />
          <div class="input-group-append">
            <span [ngSwitch]="password.type == 'text'" class="input-group-text">
              <i
                (click)="password.type = 'password'"
                *ngSwitchCase="true"
                class="bi-eye-fill"
                i18n-ngbTooltip
                ngbTooltip="Hide Password"
              ></i>
              <i
                (click)="password.type = 'text'"
                *ngSwitchCase="false"
                class="bi-eye-slash-fill"
                i18n-ngbTooltip
                ngbTooltip="Show Password"
              ></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md align-self-end">
        <label for="passwordCheck" i18n>Password (2nd time):</label>
        <input
          [disabled]="model.delete_password"
          #passwordCheck
          class="form-control"
          id="passwordCheck"
          type="password"
        />
      </div>
      <div class="col-md align-self-end">
        <label for="deletePassword">No password</label>
        <input
          [(ngModel)]="model.delete_password"
          (click)="password.value = ''; passwordCheck.value = ''"
          type="checkbox"
          class="form-check-input"
          id="deletePassword"
          name="deletePassword"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col align-self-end">
      <ngb-alert
        *ngIf="
          password.value.length > 5 && password.value !== passwordCheck.value
        "
        [dismissible]="false"
        i18n
      >
        Password mismatch!
      </ngb-alert>
      <ngb-alert *ngIf="passwordModel.errors" [dismissible]="false" i18n>
        Password is too weak!
      </ngb-alert>
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info adduserhelp"
        i18n="passwordHelp"
        id="editpasswordhelp"
        role="alert"
      >
        The password must be at least 6 characters, no more than 20 characters,
        and must include at least one upper case letter, one lower case letter
        and one numeric digit. No whitespaces allowed. The password can be
        generated with the generate button and be shown with the eye button.
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col">
        <label i18n>Public SSH key:</label>
      </div>
    </div>
    <div *ngIf="model.key_fingerprint" class="row">
      <div class="col">
        <span>Current Fingerprint:</span><br />
        <span>{{ model.key_fingerprint }}</span
        >&nbsp;<i
          class="bi-x-circle red"
          id="deleteSshKeyButton"
          ngbTooltip="Delete SSH Key"
          (click)="model.ssh_pub_key = ''; model.key_fingerprint = ''"
          i18n-ngbTooltip
        ></i>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-auto">
        <input
          name="sshKey"
          id="sshKey"
          type="file"
          [(ngModel)]="newFingerprint"
          (change)="
            onSSHKeyChange($event);
            pubKeyUploadText.innerText = $event?.target?.files?.item(0).name
          "
          accept=".pub"
        />
        <label class="btn btn-default custom-file-upload" for="sshKey">
          <i
            class="bi-file-earmark-arrow-up"
            ngbTooltip="Upload new public key"
            i18n-ngbTooltip
          ></i>
          <span #pubKeyUploadText>.pub</span>
        </label>
      </div>
      <div *ngIf="newFingerprint" class="col-auto">
        <span>New Fingerprint:</span><br />
        <span
          >{{ newFingerprint }} &nbsp;
          <i
            *ngIf="newFingerprint"
            id="deleteNewSshKeyButton"
            class="bi-x-circle red"
            ngbTooltip="Delete SSH Key"
            (click)="
              newFingerprint = '';
              sshKeyContent = '';
              pubKeyUploadText.innerText = '.pub'
            "
            i18n-ngbTooltip
          ></i>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col align-self-end">
      <div
        *ngIf="isInvalidConfiguration()"
        class="help-block alert alert-warning"
        i18n="@@passwordOrPubKeyRequiredAlert"
        id="passwordOrPubKeyRequiredAlert"
        role="alert"
      >
        A password or a public key must be specified since an account would not
        be accessible otherwise.
      </div>
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        role="alert"
        id="editsshhelp"
        i18n="sshHelp"
      >
        You could delete or upload the public ssh key for uploading data for
        your account.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 align-self-end">
        <label for="mailAddress" i18n>E-Mail address</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bi-envelope"></i></span>
          </div>
          <input
            name="mailAddress"
            id="mailAddress"
            class="form-control"
            #mailAddressModel="ngModel"
            [(ngModel)]="model.mail_address"
            email
          />
        </div>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 align-self-end">
        <label for="remindPeriod" i18n>Remind after</label>
        <div class="input-group">
          <input
            name="remindPeriod"
            id="remindPeriod"
            class="form-control"
            [(ngModel)]="model.remind_duration"
          />
          <div class="input-group-append">
            <span class="input-group-text" i18n>days</span>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 align-self-end">
        <label for="repeatPeriod" i18n>Repeat every</label>
        <div class="input-group">
          <input
            name="repeatPeriod"
            id="repeatPeriod"
            class="form-control"
            [(ngModel)]="model.info_period"
          />
          <div class="input-group-append">
            <span class="input-group-text" i18n>days</span>
          </div>
        </div>
      </div>
      <!--         <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2 align-self-end">
                  <label for="infoLevel" i18n>Info level</label>
                  <select name="mailInfoLevel" id="infoLevel" class="form-control" [(ngModel)]="model.mail_info_level">
                    <option *ngFor="let infoLevel of infoLevels" [value]="infoLevel"
                      [selected]="model.mail_info_level.toString() == infoLevel">{{infoLevel}}</option>
                  </select>
                </div> -->
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 align-self-end">
        <label for="mailInfoLevel" i18n>Mail Info Level</label>
        <select
          name="mailInfoLevel"
          class="form-control"
          id="mailInfoLevel"
          [(ngModel)]="model.mail_info_level"
        >
          <option [ngValue]="mailInfoLevels.NONE" i18n>None</option>
          <option [ngValue]="mailInfoLevels.ERROR" i18n>Error</option>
          <option [ngValue]="mailInfoLevels.WARNING" i18n>Warning</option>
          <option [ngValue]="mailInfoLevels.INFO" i18n>Info</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col align-self-end">
      <ngb-alert *ngIf="mailAddressModel.errors" [dismissible]="false" i18n="eMailFormatError">
        Incorrect mail address format!
      </ngb-alert>
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        role="alert"
        id="editemailhelp"
        i18n="eMailHelp"
      >
        E-Mail-Address: The email address which is used to inform the account
        owner, that there is an issue with his account, e.g. disk is full or no
        access since some time. It has to follow usual email address conventions:
        e.g. user@example.com
      </div>
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        role="alert"
        id="editreminddurationhelp"
        i18n="remindDurationHelp"
      >
        Remind after: The account owner will be informed if the account was not
        accessed for this period of time
      </div>
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        role="alert"
        id="editrepeathelp"
        i18n="repeatPeriodHelp"
      >
        Repeat every: If there is an issue, the account owner will get a mail
        every repeat period
      </div>
    </div>
  </div>
  <br />
  <div class="row flex-row mt-2 justify-content-end">
    <div class="col col-auto">
      <button
        id="cancelEditForm"
        (click)="formFinished.emit(null)"
        class="btn btn-secondary float-right"
        i18n="cancel"
        type="button"
      >
        Cancel
      </button>
    </div>
    <div class="col col-auto">
      <button
        id="submitEditForm"
        [disabled]="
          form.invalid ||
          isInvalidConfiguration() ||
          form.pristine ||
          password.value !== passwordCheck.value ||
          !password.validity.valid
        "
        class="btn btn-primary float-right"
        type="submit"
      >
        Save
      </button>
    </div>
  </div>
</form>
