<div class="custom-slider" *ngIf="model != null">
  <ngx-slider
    [(value)]="value"
    [options]="options"
    (userChangeEnd)="onUserChangeEnd($event)"
  ></ngx-slider>
  <div *ngIf="this.model.free > 0">
      <br/>
    <p i18n>Unpartitioned disk space: {{this.freeSizeBytes | bytesToHumanReadableSize}}</p>
  </div>
</div>
