<div class="row">
  <div class="col">
    <h3 i18>Mail Setup</h3>
    <p i18n>
      Setting up email sending capabilities is essential for your syncosync box
      as without it, you wont get any notice if there are issues - with accounts
      not accessed or full disk or remote box not accessible. <br />
      When you skip this setting keep in mind to set this later!
    </p>
  </div>
</div>
<app-email-setup-form
  (formFinished)="configurationFinished.emit($event)"
></app-email-setup-form>
