<div #wrapper class="d-flex">
  <div id="page-content-wrapper">
    <remote-recovery-statusbar></remote-recovery-statusbar>
    <div
      class="container-fluid main-frame"
      [ngSwitch]="sysstateService.getLatestSysstate().actmode"
    >
      <app-remote-recovery-in-progress
        *ngSwitchCase="systemMode.REMOTE_RECOVERY"
      ></app-remote-recovery-in-progress>
      <app-remote-recovery-finished
        *ngSwitchCase="systemMode.RR_FINAL"
      ></app-remote-recovery-finished>
    </div>
  </div>
</div>
