<div class="row justify-content-end">
  <div class="col-auto">
    <button
      (click)="onSubmit()"
      class="btn btn-primary btn-block"
      type="button"
      id="follow_partitioning"
    >
      Follow Partitioning
    </button>
  </div>
</div>
