<form
  #form="ngForm"
  (ngSubmit)="onSubmit()"
  id="adminPasswordChangeForm"
  novalidate
>
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 i18n>Admin Password Setup</h5>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-auto">
        <div
          *ngIf="helpStateService.isShowHelp()"
          class="help-block alert alert-info adminpasswordhelp"
          i18n="adminPasswordHelp"
          id="adminpasswordhelp"
          role="alert"
        >
          This password is used for login to the syncosync system and also for
          encrypting the configuration backups. With this password you can get
          access to all data on the syncosync box, but - when correctly
          encrypted - no access to the account data.
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md align-self-end">
          <label for="password" i18n>Password: </label>
          <div class="input-group">
            <input
              #password
              [(ngModel)]="model.password"
              [type]="this.passwordTextType ? 'text' : 'password'"
              class="form-control"
              id="password"
              name="password"
              validateAdminPassword
            />
            <div class="input-group-append">
              <span [ngSwitch]="this.passwordTextType" class="input-group-text">
                <i
                  (click)="togglePasswordTextType()"
                  *ngSwitchCase="true"
                  class="bi-eye-fill"
                  i18n-ngbTooltip
                  ngbTooltip="Hide Passwort"
                ></i>
                <i
                  (click)="togglePasswordTextType()"
                  *ngSwitchCase="false"
                  class="bi-eye-slash-fill"
                  i18n-ngbTooltip
                  ngbTooltip="Show Passwort"
                ></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md align-self-end">
          <label for="passwordCheck" i18n>Password (2nd time):</label>
          <input
            #passwordCheck
            class="form-control"
            id="passwordCheck"
            type="password"
          />
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-auto">
        <div
          *ngIf="helpStateService.isShowHelp()"
          class="help-block alert alert-info adminpasswordhelp"
          i18n="passwordFormatHelp"
          id="passwordformathelp"
          role="alert"
        >
          The password must be at least 6 characters, no more than 20
          characters, and must include at least one upper case letter, one lower
          case letter and one numeric digit. No whitespaces allowed.
        </div>
      </div>
    </div>
    <div class="row mt-2 justify-content-end">
      <div class="col col-auto">
        <button
          [disabled]="
            password.value == '' || password.value !== passwordCheck.value
          "
          class="btn btn-primary"
          i18n="save"
          type="submit"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</form>
