<div class="container">
  <div class="row">
    <div class="col"><img alt="syncosync" src="assets/images/logo.png" /></div>
  </div>
  <div class="row mt-3">
    <div class="col col-12"><h4 i18n>Thank you for using syncosync!</h4></div>
  </div>
  <div class="row mt-3">
    <div class="col col-8" i18n>
      Copylefted libre software, licensed AGPLv3+. Use, inspect, change, and
      share at will; with all.
    </div>
    <div class="col col-4 align-self-center" align="center">
      <img alt="AGPL" src="assets/images/agpl-v3-logo.png" />
    </div>
    <div class="row mt-3">
      <div class="col col-8" i18n>
        The codebase is hosted on gitlab. For contribution, bug reports and more
        information please visit the project's page on gitlab.
      </div>
      <div class="col col-4 align-self-center" align="center">
        <a href="https://gitlab.com/syncosync/syncosync" target="_blank"
          ><img alt="GitLab" src="assets/images/gitlab-logo-gray-rgb.png"
        /></a>
      </div>
      <div class="row mt-3">
        <div class="col col-8">
          <h4 i18n>Support us!</h4>
          <p i18n>
            We have put a huge amount of our lifetime, love and energy in the
            development of syncosync. We want do continue to do so and we want
            to improve and support this code as good as we can. So please
            support us with a regular small amount if you can.
          </p>
        </div>
        <div class="col col-4 align-self-center" align="center">
          <a href="https://www.patreon.com/syncosync" target="_blank"
            ><img alt="patreon" src="assets/images/patreon_button.png"
          /></a>
        </div>
        <div class="row mt-3">
          <div class="col col-12">
            <p i18n>The following manuals are available:</p>
            <ul>
              <li i18n>
                syncosync introduction:
                <a
                  target="_blank"
                  href="/en-US/manual/syncosync_introduction/syncosync_introduction.html"
                  >html</a
                >/<a
                  target="_blank"
                  href="/en-US/manual/syncosync_introduction/syncosync_introduction.pdf"
                  >pdf</a
                >
              </li>
              <li i18n>
                syncosync administrator manual:
                <a
                  target="_blank"
                  href="/en-US/manual/syncosync_administrator_manual/syncosync_administrator_manual.html"
                  >html</a
                >/<a
                  target="_blank"
                  href="/en-US/manual/syncosync_administrator_manual/syncosync_administrator_manual.pdf"
                  >pdf</a
                >
              </li>
              <li i18n>
                syncosync backup clients selection & setup:
                <a
                  target="_blank"
                  href="/en-US/manual/syncosync_backup_clients/syncosync_backup_clients.html"
                  >html</a
                >/<a
                  target="_blank"
                  href="/en-US/manual/syncosync_backup_clients/syncosync_backup_clients.pdf"
                  >pdf</a
                >
              </li>
              <li i18n>
                syncosync question & answers:
                <a
                  target="_blank"
                  href="/en-US/manual/syncosync_q_and_a/syncosync_q_and_a.html"
                  >html</a
                >/<a
                  target="_blank"
                  href="/en-US/manual/syncosync_q_and_a/syncosync_q_and_a.pdf"
                  >pdf</a
                >
              </li>
              <li i18n>
                syncosync CLI commands (EXPERTS ONLY!!!):
                <a
                  target="_blank"
                  href="/en-US/manual/syncosync_cli_commands/syncosync_cli_commands.html"
                  >html</a
                >/<a
                  target="_blank"
                  href="/en-US/manual/syncosync_cli_commands/syncosync_cli_commands.pdf"
                  >pdf</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col col-12">
            <div *ngIf="model" i18n="currentVersionInfo">
              Current software version is {{ model.version }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
