<h3 i18n>System Setup</h3>
<nav #nav="ngbNav" class="nav-tabs" ngbNav>
  <ng-container ngbNavItem>
    <a ngbNavLink name="admin_password_tab" i18n>Admin Password</a>
    <ng-template ngbNavContent>
      <app-admin-password-form></app-admin-password-form>
    </ng-template>
  </ng-container>
  <ng-container
    *ngIf="
      sysstateService.getLatestSysstate().actmode !== systemMode.DISASTER_SWAP
    "
    ngbNavItem
  >
    <a ngbNavLink name="timezone_tab" i18n>Timezone</a>
    <ng-template ngbNavContent>
      <app-timezone-setup-form></app-timezone-setup-form>
    </ng-template>
  </ng-container>
  <ng-container
    *ngIf="
      sysstateService.getLatestSysstate().actmode === systemMode.DISASTER_SWAP
    "
    ngbNavItem
  >
    <a ngbNavLink name="disaster_swap_persistence_tab" i18n
      >Disaster Swap Persistence</a
    >
    <ng-template ngbNavContent>
      <app-disaster-swap-persistence></app-disaster-swap-persistence>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink name="factory_reset_tab" i18n>Maintenance</a>
    <ng-template ngbNavContent>
      <app-maintenance-collection></app-maintenance-collection>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink name="factory_reset_tab" i18n>Factory Reset</a>
    <ng-template ngbNavContent>
      <app-factory-reset-form></app-factory-reset-form>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
