<div class="row">
  <div class="col">
    <h4 i18n>Follow Partner</h4>
    <p i18n>
      Your syncosync partner will pick the distribution of storage availability
      for both parties. In order to avoid conflicts, it is recommended to
      communicate the distribution before going through partitioning. As soon as
      both parties are ready, the partitioning distribution can be sent/received
      accordingly. You as the follower simply need to click the button below and
      your partner (leader) needs to send the distribution picked. Afterwards,
      you may accept the or decline the distribution and continue with
      partitioning the drives.
    </p>
  </div>
</div>
<!-- <app-partitioning-data-display
  [model]="this.model"
></app-partitioning-data-display>
 -->
<div class="row justify-content-end">
  <div class="col col-auto">
    <button
      (click)="tryToReceivePartitioningData()"
      class="btn btn-primary btn-block"
      type="button"
    >
      Receive partitioning distribution
    </button>
  </div>
</div>
