<form
  *ngIf="model"
  #form="ngForm"
  (ngSubmit)="onSubmit()"
  id="syncSetupConfigForm"
  novalidate
>
  <div class="row">
    <div class="col">
      <h4 i18n>Remote Host Configuration</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info adminpasswordhelp"
        i18n="remoteHostHelp"
        id="remotehosthelp"
        role="alert"
      >
        The remote host is the host from your syncosync buddy, which is
        reachable via the Internet. So DynDNS should work to reach your buddies
        internet router and the port from your buddies sos system should be open
        on the router - by default port 55055.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5">
        <label for="hostname">Remote host:</label>
        <input
          #hostname="ngModel"
          [(ngModel)]="model.hostname"
          class="form-control"
          id="hostname"
          name="hostname"
          required
          validateHostname
          value="{{ model.hostname }}"
        />
        <ngb-alert *ngIf="hostname.errors" [dismissible]="false">
          Hostname is invalid. Needs to be a (static) IP-address or a hostname.
        </ngb-alert>
      </div>
      <div class="col-3">
        <label for="port">Port:</label>
        <input
          #port="ngModel"
          [(ngModel)]="model.port"
          class="form-control"
          id="port"
          max="65536"
          min="1"
          name="port"
          required
          type="number"
          validatePort
          value="55055"
        />
        <ngb-alert *ngIf="port.errors" [dismissible]="false">
          Invalid port. Valid range: 1-65536.
        </ngb-alert>
      </div>
      <div class="col-auto align-self-end">
        <button [disabled]="!form.valid" class="btn btn-primary" type="submit">
          Save
        </button>
      </div>
    </div>
  </div>
</form>
