<form *ngIf="model" (ngSubmit)="onSubmit()" class="nicChanger" #form="ngForm">
  <div class="row">
    <div class="col">
      <h5 i18n>Network Interfaces Configuration</h5>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        i18n="NetworkInterfacesHelp"
        id="networkinterfaceshelp"
        role="alert"
      >
        On this page you can change the network interfaces configuration. On a
        device which could only be controlled via network like the syncosync
        box, this is always dangerous, as you can cut off the branch you're
        sitting on. So be careful, what you are doing!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" i18n>
      The following interfaces have been found on your system:
    </div>
  </div>
  <div
    *ngFor="let nicConfig of model"
    class="container rounded my-3 p-3"
    style="border: 1px solid lightgrey"
  >
    <div class="row">
      <div class="col-auto">
        <h4>{{ nicConfig.interface }}</h4>
      </div>
      <div class="col-auto">
        <h4>
          <span
            *ngIf="
              nicConfig.ip4_mode !== nicModes.MANUAL ||
              nicConfig.ip6_mode !== nicModes.MANUAL
            "
            ><i class="bi bi-check-lg" style="color: green"></i
          ></span>
          <span
            *ngIf="
              nicConfig.ip4_mode === nicModes.MANUAL &&
              nicConfig.ip6_mode === nicModes.MANUAL
            "
            ><i class="bi bi-x-lg" style="color: red"></i
          ></span>
        </h4>
      </div>
      <div class="col-auto">
        <h4>
          <span
            *ngIf="
              nicConfig.ip4_mode !== nicModes.MANUAL ||
              nicConfig.ip6_mode !== nicModes.MANUAL
            "
            i18n
            >{{ nicConfig.linkspeed }} MBit</span
          >
          <span
            *ngIf="
              nicConfig.ip4_mode === nicModes.MANUAL &&
              nicConfig.ip6_mode === nicModes.MANUAL
            "
            i18n
            >Off</span
          >
        </h4>
      </div>
    </div>
    <hr />

    <div>
      <div class="row">
        <div class="col-auto">
          <h5>IPv4</h5>
        </div>
        <div class="col-auto">
          <div class="boxhide" style="display: block">
            <div class="toggle text">
              <label class="switch" ngbTooltip="Enable/disable interface">
                <input
                  (click)="toggleInterfaceModeIpv4(nicConfig)"
                  [ngModel]="nicConfig.ip4_mode !== nicModes.MANUAL"
                  [checked]="nicConfig.ip4_mode !== nicModes.MANUAL"
                  type="checkbox"
                  name="{{ nicConfig.interface }}_v4enabled"
                  class="form-check-input"
                />
                <!--               <i
              class="bi-power"
              (click)="toggleInterfaceModeIpv4(nicConfig)"
              [ngClass]="getColor(nicConfig.ip4_mode)"
              ngbTooltip="Enable/disable interface"
              size="6x"
            ></i> -->
                <span class="slider enableNicSlider"></span>
              </label>
            </div>
          </div>
        </div>

        <div *ngIf="nicConfig.ip4_mode !== nicModes.MANUAL" class="col-auto">
          <div class="row"></div>
        </div>
        <div *ngIf="nicConfig.ip4_mode !== nicModes.MANUAL">
          <div class="row">
            <div class="col-xs-6 col-md-2">
              <label for="{{ nicConfig.interface }}_ip_address" i18n
                >IP address:</label
              >
              <input
                #v4Address="ngModel"
                class="form-control"
                id="{{ nicConfig.interface }}_ip_address"
                name="{{ nicConfig.interface }}_v4-address"
                type="text"
                validateIPv4
                [(ngModel)]="nicConfig.ip4_address"
                [disabled]="nicConfig.ip4_mode !== nicModes.STATIC"
              />
              <ngb-alert *ngIf="v4Address.errors" [dismissible]="false" i18n>
                Invalid IP address
              </ngb-alert>
            </div>
            <div class="col-xs-6 col-md-2">
              <label for="{{ nicConfig.interface }}_netmask" i18n
                >Netmask:</label
              >
              <input
                class="form-control"
                id="{{ nicConfig.interface }}_netmask"
                name="{{ nicConfig.interface }}_v4-netmask"
                type="text"
                [(ngModel)]="nicConfig.ip4_netmask"
                [disabled]="nicConfig.ip4_mode !== nicModes.STATIC"
                #v4Netmask="ngModel"
                validateIPv4
              />
              <ngb-alert *ngIf="v4Netmask.errors" [dismissible]="false" i18n>
                Invalid netmask
              </ngb-alert>
            </div>
            <div class="col-xs-6 col-md-2">
              <label for="{{ nicConfig.interface }}_gateway" i18n
                >Gateway:</label
              >
              <input
                class="form-control"
                id="{{ nicConfig.interface }}_gateway"
                name="{{ nicConfig.interface }}_v4-gateway"
                type="text"
                validateIPv4
                #v4Gateway="ngModel"
                [(ngModel)]="nicConfig.ip4_gateway"
                [disabled]="nicConfig.ip4_mode !== nicModes.STATIC"
              />
              <ngb-alert *ngIf="v4Gateway.errors" [dismissible]="false" i18n>
                Invalid gateway
              </ngb-alert>
            </div>

            <div class="col-xs-6 col-md-2">
              <label for="{{ nicConfig.interface }}_v4Dhcp">DHCP:</label>
              <br />
              <input
                (click)="toogleIpv4DhcpStatic(nicConfig)"
                [checked]="nicModes.STATIC !== nicConfig.ip4_mode"
                [ngModel]="nicConfig.ip4_mode !== nicModes.STATIC"
                type="checkbox"
                class="form-check-input"
                id="{{ nicConfig.interface }}_v4Dhcp"
                name="{{ nicConfig.interface }}_v4dhcp"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
<!--     <div class="containter mt-2">
      <div class="row">
        <div class="col-auto">
          <h5>IPv6</h5>
        </div>

        <div class="col-auto">
          <div class="boxhide" style="display: block">
            <div class="toggle text">
              <label class="switch" ngbTooltip="Enable/disable interface">
                <input
                  (click)="toggleInterfaceModeIpv6(nicConfig)"
                  [ngModel]="nicConfig.ip6_mode !== nicModes.MANUAL"
                  [checked]="nicConfig.ip6_mode !== nicModes.MANUAL"
                  type="checkbox"
                  name="{{ nicConfig.interface }}_v6enabled"
                  class="form-check-input"
                />
                <span class="slider enableNicSlider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="nicConfig.ip6_mode !== nicModes.MANUAL">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <label for="{{ nicConfig.interface }}_ip6_address" i18n
              >IP address:</label
            >
            <input
              class="form-control"
              id="{{ nicConfig.interface }}_ip6_address"
              name="{{ nicConfig.interface }}_v6-address"
              type="text"
              validateIPv6
              #v6Address="ngModel"
              [(ngModel)]="nicConfig.ip6_address"
              [disabled]="nicConfig.ip6_mode !== nicModes.STATIC"
            />
            <ngb-alert *ngIf="v6Address.errors" [dismissible]="false" i18n>
              Invalid IP address
            </ngb-alert>
          </div>
          <div class="col-xs-6 col-my-3">
            <label for="{{ nicConfig.interface }}_ip6_netmask" i18n
              >Netmask:</label
            >
            <input
              class="form-control"
              id="{{ nicConfig.interface }}_ip6_netmask"
              name="{{ nicConfig.interface }}_v6-netmask"
              type="text"
              validateIPv6
              [(ngModel)]="nicConfig.ip6_netmask"
              [disabled]="nicConfig.ip6_mode !== nicModes.STATIC"
              #v6Netmask="ngModel"
            />
            <ngb-alert *ngIf="v6Netmask.errors" [dismissible]="false" i18n>
              Invalid netmask
            </ngb-alert>
          </div>
          <div class="col-xs-6 col-my-3">
            <label for="{{ nicConfig.interface }}_ip6_gateway" i18n
              >Gateway:</label
            >
            <input
              class="form-control"
              id="{{ nicConfig.interface }}_ip6_gateway"
              name="{{ nicConfig.interface }}_v6-gateway"
              type="text"
              validateIPv6
              #v6Gateway="ngModel"
              [(ngModel)]="nicConfig.ip6_gateway"
              [disabled]="nicConfig.ip6_mode !== nicModes.STATIC"
            />
            <ngb-alert *ngIf="v6Gateway.errors" [dismissible]="false" i18n>
              Invalid gateway
            </ngb-alert>
          </div>
          <div class="col col-auto mt-4">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="{{ nicConfig.interface }}_v6-mode"
                id="{{ nicConfig.interface }}_nicModeDhcp"
                [(ngModel)]="nicConfig.ip6_mode"
                value="{{ nicModes.DHCP }}"
              />
              <label
                class="form-check-label"
                for="{{ nicConfig.interface }}_nicModeDhcp"
                >DHCP</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                id="{{ nicConfig.interface }}_v6Mode"
                class="form-check-input"
                type="radio"
                name="{{ nicConfig.interface }}_v6-mode"
                [(ngModel)]="nicConfig.ip6_mode"
                [value]="nicModes.STATIC"
              />
              <label
                class="form-check-label"
                for="{{ nicConfig.interface }}_v6Mode"
                i18n
                >Static</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="{{ nicConfig.interface }}_v6-mode"
                id="{{ nicConfig.interface }}_nicModeAuto"
                [(ngModel)]="nicConfig.ip6_mode"
                [value]="nicModes.AUTO"
              />
              <label
                class="form-check-label"
                for="{{ nicConfig.interface }}_nicModeAuto"
                i18n
                >Auto</label
              >
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="row justify-content-end">
    <div class="col col-auto">
      <button
        [disabled]="!form.dirty || form.pristine || form.invalid"
        class="btn btn-primary"
        type="submit"
        i18n
      >
        Save network configuration
      </button>
    </div>
  </div>
</form>
