<div [ngSwitch]="this.model?.overall_status">
  <div *ngSwitchCase="partitioningStates.OK">
    No adjustments needed, proceed...
  </div>
  <div *ngSwitchCase="partitioningStates.RESIZE_NEEDED">
    <div class="col col-auto">
      <div class="row">
        <div class="col">
          <h4 i18n>Adjust Partitioning to syncosync leader</h4>
          <p i18n>
            Repartitioning needed according to the leader's partitioning data just received. It is safe to do so as it is possible to repartition the volume as requested.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col col-auto">
        <button
          (click)="onSubmit()"
          class="btn btn-primary btn-block"
          type="button"
        >
          Fix Partitions
        </button>
      </div>
    </div>

    <div *ngSwitchDefault>
      Resizing is not possible, please get in touch with support.
    </div>
  </div>
</div>
