<form (ngSubmit)="onSubmit()">
  <div *ngIf="model">
    <div class="row">
      <div class="col">
        <h5 i18n>Timezone Setup</h5>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-auto">
        <div
          *ngIf="helpStateService.isShowHelp()"
          class="help-block alert alert-info adminpasswordhelp"
          i18n="timeZoneHelp"
          id="timezonehelp"
          role="alert"
        >
          The timezone is used to set the clock offset correctly on your
          syncosync system. The clock/timezone is needed to decide when it is
          night and day, for traffic shaping, for doing housekeeping and mail
          sending and last not least for the time stamps.
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-auto">
        <label i18n>Select Timezone</label>

        <div *ngIf="availableTimezones && model">
          <select
            name="timezone_select"
            class="form-control"
            (change)="setTimezone($event.target)"
          >
            <option
              *ngFor="let timezone of availableTimezones.available_timezones"
              [value]="timezone"
              [selected]="model.timezone == timezone"
            >
              {{ timezone }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-auto align-self-end mt-1">
        <div>
          <button class="btn btn-primary" type="submit" i18n>Save</button>
        </div>
      </div>
    </div>
  </div>
</form>
