<div #wrapper class="d-flex">
  <div id="page-content-wrapper">
    <app-statusbar></app-statusbar>
    <div class="container-fluid main-frame">
      <app-setup-partial-assistant
        *ngIf="setupPartialsToShow.length > 0"
        [setupPartials]="setupPartialsToShow"
      ></app-setup-partial-assistant>
    </div>
  </div>
</div>
