<div *ngIf="drive" class="col">
  <h4 i18n>
    {{ drive.device }} ({{ drive.product }}):
    {{ drive.sata_size | bytesToHumanReadableSize }}
  </h4>
  <span *ngIf="drive.partitions !== null && drive.partitions.length > 0">
    <h5>Partitions:</h5>
    <table class="table">
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
      </thead>
      <tbody>
        <tr *ngFor="let partition of drive.partitions; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ partition.name }}</td>
          <td>{{ partition.fstype }}</td>
          <td>{{ partition.length * 512 | bytesToHumanReadableSize }}</td>
        </tr>
      </tbody>
    </table>
  </span>
  <span *ngIf="drive.vg_state == 'p'">
    <div
      class="alert alert-warnung"
      role="alert"
      i18n="driveBoxSosVolIncompleteMessage"
    >
      Disk is part of incomplete syncosync volume group. Data incomplete!
    </div>
    <div
      *ngIf="helpStateService.isShowHelp()"
      class="help-block alert alert-info"
      role="alert"
      id="driveboxsosvolincompletehelp"
      i18n="driveBoxSosVolIncompleteHelp"
    >
      This disk is part of an incomple sysncosync volume. If you find somewhere
      the other drives which are parts of this volume, you could use it again.
      If not, you can of course also format it.
    </div>
  </span>

  <span *ngIf="drive.vg_state == '-'">
    <div
      class="alert alert-success"
      role="alert"
      i18n="driveBoxSosVolPresentMessage"
    >
      Complete syncosync volume group present.<br>
      Volume Group UUID: {{drive.vg_uuid}}
    </div>
    <div
      *ngIf="drives.non_sos_drive == true || drives.vgs.multiple_sos == true"
      class="alert alert-info"
      i18n
    >
      Selecting will expand it with the other disks.
    </div>
    <div *ngIf="drive.vg_uuid != current_vg_uuid" class="alert alert-info" i18n>
      Selecting will restore configuration from this volume group.
    </div>
    <div
      *ngIf="helpStateService.isShowHelp()"
      class="help-block alert alert-info"
      role="alert"
      id="driveboxsosvolpresenthelp"
      i18n="driveBoxSosVolPresentHelp"
    >
      This disk is holding a complete sysncosync volume or is part of multiple
      present disk which are holding a complete syncosync volume. If this
      syncosync volume is not actually used by this syncosync box, the
      configuration of the syncosync box will be restored from this syncosync
      volume.
    </div>
  </span>

  <span *ngIf="drive.vg_uuid == lastUsedVgUuid && drive.vg_uuid != ''">
    <div i18n="driveBoxSosVolusedMessage" class="alert alert-success">
      Your syncosync box is using this disk (the volumes which are on this
      disk).
    </div>
    <div
      *ngIf="helpStateService.isShowHelp()"
      class="help-block alert alert-info"
      role="alert"
      id="driveboxsosvolusedhelp"
      i18n="driveBoxSosVolUsedHelp"
    >
      This disk is holding (perhaps together with other disks) a syncosync
      volume, which is the same as configured on this syncosync box.<br />
      Still, as you are in disk setup this means, that there is additional
      action necessary. Most probably the system detected another connected
      disk, which is not kown to syncosync. You can either expand your syncosync
      volume with this other disk or switch off and remove it.
    </div>
  </span>

  <span *ngIf="drive.vg_state == null">
    <div class="alert alert-warning" i18n="driveBoxNoSosDriveMessage">
      Disk is not part of a syncosync volume group. It can only be formatted or
      used to expand an exisiting syncosync volume group.
    </div>

    <div
      *ngIf="helpStateService.isShowHelp()"
      class="help-block alert alert-info"
      role="alert"
      id="driveboxnososdrivehelp"
      i18n="driveBoxNoSosDriveHelp"
    >
      The system has not detected any syncosync data on this disk. If you are
      unsure, what data is on this disk, switch off the system and check with
      another computer the content of this drive.
    </div>
  </span>
</div>
